<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo's API</title>
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        Welcome, {{username}}!
        <nav>
          <a href="#" id="logoutLink">Logout</a>
        </nav>
      </div>
      <div class="jumbotron">
        <h1>ToDo's Rest API</h1>
        <p class="lead">Welcome to the ToDo App. A Spring Boot application!</p>
      </div>
    </div>
    <form id="logout" action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script>
      $(function() {
        $('#logoutLink').click(function() {
          $('#logout').submit();
        });
      });
    </script>
  </body>
</html>
